<!DOCTYPE html>
<html>
  
<head>
    <title>FILE UPLOAD DEMO</title>
</head>
  
<body>
    <h1>Single File Upload Demo</h1>
   
    <form action="/images" enctype="multipart/form-data" method="POST">
      
        <span>Upload Profile Picture:</span>  
        <input type="file" name="image" /> <br>
        <input type="submit" value="submit"> 
    </form>
    <img srs = "/images/4059a41dabc6fddca64c1b0e96fad93e"
</body>
  
</html>